<div class="container-i">
  <div class="list-title">
    <% if params[:query] %>
      <h1><strong>Gardens at <%= params[:query] %><strong></h1>
    <% else %>
      <h1>Our Gardens</h1>
    <% end %>
  </div>
  <div class="list-subtitle">
    <p><%= @gardens.count %> results in this list</p>
  </div>
  <div class="cards-i">
    <% @gardens.each do |garden| %>
      <div class="col-12">
        <div class="card-i">
          <div class="garden-card-image" style="background-image: url(https://source.unsplash.com/collection/560886)">
            <div class="card-infos">
              <div class="garden-card-title">
                <%= link_to garden.name, garden_path(garden) %>
              </div>
              <p><%= garden.address %>, <%= garden.zipcode %>, <%= garden.city %></p>
              <div class="flex">
                <div class="flex">
                  <i class="fas fa-user"><%= garden.capacity %></i>
                </div>
                <div class="flex ml-3">
                  <i class="fas fa-euro-sign"> <%= garden.price %></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="garden-btn">
      <%= link_to new_garden_path, class: "btn btn-success" do %>
        Create a new garden
      <% end %>
    <% end%>
  </div>
</div>
 