<div class="container-i">
  <div class="cards-i">
    <div class="title">
    <h1><strong>Your gardens<strong></h1>
    </div>
    <% @gardens.each do |garden| %>
      <div class="card-i" style="background-image: url(https://source.unsplash.com/collection/560886)">
       <h2><%= link_to garden.name, garden_path(garden) %></h2>
       <p><%= garden.description %></p>
      </div>
    <% end %>

  <%= link_to new_garden_path, class: "btn btn-primary" do %>
    Add a new garden
  <% end %>
  </div>
</div> 
<div id="map"
     style="width: 40%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
