<div class="container">
  <div class="card-ss">
    <div class="card-s">
      <h2><%= @garden.name %></h2>
      <% @garden.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <p><%= @garden.address %></p>
      <p><%= @garden.capacity %>
      <% if @garden.capacity == 1 %>
        <%= "person" %>
      <% else %>
        <%= "people" %>
      <% end %></p>
      <p><%= @garden.price %> EUR</p>
      <p><%= @garden.description %></p>
    </div>
  </div>

<% if @garden.user == current_user %>
  <%= link_to edit_garden_path(@garden) do %>
    <i class="fa fa-plus"></i> Edit
  <% end %>
  <%= link_to "Delete", garden_path(@garden), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to gardens_path do %>
  <i class="fa fa-plus"></i> Index
<% end %>
</div>
