<div class="container-i">  
  <div class="garden-img">
    <% @garden.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="card-ss m-1 p-3 bg-white">
            <p><%= @garden.address %>, <%= @garden.city %></p>
            <h1><%= @garden.name %></h1>
        </div>
        <div class="card-ss garden-show-card m-1 p-3 bg-white">
          <h3>A bit more about this garden...</h3>
          <p><%= @garden.description %></p>
        </div>
      </div>

      <div class="col-3">
        <div class="card-ss garden-show-card p-2 m-1 bg-white text-center">
          <h5>Book this garden</h5>
          <div class="book-btn">
            <%= simple_form_for [ @garden, @booking ] do |f| %>
              <%= f.input :date, as: :date, html5: true %>
              <%= f.submit "Book", class: "btn btn-success" %>
            <% end %>
          </div>
        </div>

        <div class="card-ss garden-show-card p-3 m-1 bg-white text-center">
          <h5>Details</h5>
            <div class="details-card">
              <p><i class="fas fa-user"></i><%= @garden.capacity %></p>
              <p><%= @garden.price %><i class="fas fa-euro-sign"></i></p>
            </div>
          <div class="flex">
            <% if @garden.user == current_user %>
              <%= link_to edit_garden_path(@garden), class: "btn btn-light" do %>
                Edit
              <% end %>
              <%= link_to "Delete", garden_path(@garden), class: "btn btn-light", method: :delete, data: { confirm: "Are you sure?" } %><% end %>
              <%= link_to gardens_path, class: "btn btn-light" do %>
                List
              <% end %>
              </div>
              <div class="reviews">
                <%= link_to new_garden_review_path(@garden), class: "btn btn-light" do %>
                  Reviews
                <% end %>
           </div>
        </div>
        <% if user_signed_in? %>
          <div class="card-ss garden-show-card p-2 m-1 bg-white text-center">
              <h5>User area</h5>
                <div class="user-card">
                <% if @garden.user == current_user %>
                    <%= link_to edit_garden_path(@garden), class: "btn btn-light" do %>
                      Edit
                    <% end %>
                    <%= link_to "Delete", garden_path(@garden), class: "btn btn-light", method: :delete, data: { confirm: "Are you sure?" } %><% end %>
                    <%= link_to gardens_path, class: "btn btn-light" do %>
                      List
                  <% end %>
                </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
